* {
	font-family: PingFangSC-Regular;
}

ul,
li {
	list-style: none;
}

dd,
p,
li,
ul {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.show {
	display: block;
	opacity: 1;
}

.hide {
	display: none;
}

body,html{
	width: 100%;
}

#mk-main {
	width: 100%;
	min-height: 100%;
	position: relative;
	transition: 1s opacity;
	-webkit-transition: 1s opacity;
	overflow-y: auto;
}

.full-win {
	width: 100%;
	height: 100%;
}

.bg-white {
	background-color: #fff;
}

.mui-content {
	background: #fff;
}

html,
body {
	height: 100%;
	background: #fff;
	touch-action: none
}

#mm-main .mui-table-view:before,
#mm-main .mui-table-view:after {
	display: none;
}

button {
	border: 0;
}

.mui-pull-caption {
	font-weight: normal;
}

.btn-text {
	background: #fff;
	border-radius: .09rem;
	font-size: .13rem;
	line-height: 1;
	color: #333333;
	letter-spacing: -0.05px;
	border: 1px solid #FFE500;
	padding: 0;
	text-align: center;
	width: .6rem;
	height: .28rem;
	background: #FFFDEC;
}

.btn-gray {
	background: #E2E2E2;
	border: 1px solid #E2E2E2;
	border-radius: .09rem;
	font-size: .13rem;
	line-height: 1;
	color: #FFFFFF;
	letter-spacing: -0.05px;
	padding: 0;
	text-align: center;
	width: .6rem;
	height: .28rem;
}

.btn-blue {
	background: #1D9AFF;
	border-radius: .09rem;
	font-size: .13rem;
	line-height: 1;
	color: #FFFFFF;
	border: 1px solid #1D9AFF;
	letter-spacing: -0.05px;
	padding: 0;
	text-align: center;
	width: .6rem;
	height: .28rem;
}

.btn-yellow {
	background: #FFE500;
	border-radius: .09rem;
	font-size: .13rem;
	line-height: 1;
	color: #333333;
	border: 1px solid #FFE500;
	letter-spacing: -0.05px;
	padding: 0;
	text-align: center;
	width: .6rem;
	height: .28rem;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: 0;
}

.mui-btn.mui-active:enabled,
.mui-btn:enabled:active,
button.mui-active:enabled,
button:enabled:active,
input[type=button].mui-active:enabled,
input[type=button]:enabled:active,
input[type=reset].mui-active:enabled,
input[type=reset]:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
	color: #666;
	opacity: .8;
}


/***mui弹出层***/

.mui-picker {
	background-color: #fff;
	position: relative;
	height: 200px;
	overflow: hidden;
	border: solid 1px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
}

.mui-picker-inner {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
	-webkit-mask-box-image: linear-gradient(top, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
}

.mui-pciker-list,
.mui-pciker-rule {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 36px;
	line-height: 36px;
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -18px;
}

.mui-pciker-rule-bg {
	z-index: 0;
	/*background-color: #cfd5da;*/
}

.mui-pciker-rule-ft {
	z-index: 2;
	border-top: solid 1px rgba(0, 0, 0, 0.1);
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	/*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);*/
	/*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);*/
}

.mui-pciker-list {
	z-index: 1;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
	transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
}

.mui-pciker-list li {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	color: #888;
	padding: 0px 8px;
	white-space: nowrap;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: default;
	visibility: hidden;
}

.mui-pciker-list li.highlight,
.mui-pciker-list li.visible {
	visibility: visible;
}

.mui-pciker-list li.highlight {
	color: #222;
}

.mui-poppicker {
	position: fixed;
	left: 0px;
	width: 100%;
	z-index: 999;
	background-color: #F8F8F8;
	border-top: solid 1px #ccc;
	box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.1);
	transition: .3s;
	bottom: 0px;
	transform: translateY(300px);
}

.mui-poppicker.mui-active {
	transform: translateY(0px);
}

.mui-android-5-1 .mui-poppicker {
	bottom: -300px;
	transition-property: bottom;
	transform: none;
}

.mui-android-5-1 .mui-poppicker.mui-active {
	bottom: 0px;
	transition-property: bottom;
	transform: none;
}

.mui-poppicker-header {
	padding: 6px;
	font-size: 14px;
	color: #888;
}

.mui-poppicker-header .mui-btn {
	font-size: 12px;
	padding: 5px 10px;
}

.mui-poppicker-btn-cancel {
	float: left;
}

.mui-poppicker-btn-ok {
	float: right;
}

.mui-poppicker-clear {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	overflow: hidden;
}

.mui-poppicker-body {
	position: relative;
	width: 100%;
	height: 200px;
	border-top: solid 1px #ddd;
	/*-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
}

.mui-poppicker-body .mui-picker {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: none;
	float: left;
}

/***mui弹出层***/
